<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Traveling Scheduler</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>

<body>

    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <div class="navbar-brand col-md-3 col-lg-2 mr-0 px-3">Traveling Scheduler</div>

        <form class="form-inline flex-md-nowrap w-100" onsubmit="return Client.handleSubmit(event)">
            <input id="placename" class="form-control form-control-dark w-50 mr-2" type="search"
                placeholder="Look for a place (e.g.: Seoul, San Francisco, Dubai)" aria-label="Search" autofocus>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="sidebar-sticky sidebar__container pt-3">
                    <h6
                        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Your Schedule</span>
                    </h6>
                    <ul id="sidebarMenuItem" class="nav nav__scrollable flex-column mb-2"></ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 pt-3">
                <section class="mt-4">
                    <div id="weather_container">
                        <div class="weather__body">
                            <div class="weather__box weather__box--fx1">
                                <div id="weather_placename" class="weather__item weather__title"></div>
                                <div id="weather_temperature" class="weather__item weather__temp"></div>
                            </div>
                            <div class="weather__box weather__box--fx3">
                                <div class="weather__item weather__title">Book a Trip</div>
                                <form class="weather__box-line" onsubmit="return Client.handleBooking(event)">
                                    <input id="weather_drp" class="weather__input" type="text" name="daterange"
                                        value="Pick a date" />
                                    <button id="weather_submit" type="submit" disabled>Book</button>
                                </form>
                            </div>
                        </div>
                </section>

                <section class="mt-4">
                    <div id="pictures_title" class="pictures__title"></div>
                    <div id="pictures_container" class="pictures"></div>
                </section>
            </main>
        </div>
    </div>

    <footer class="mastfoot mt-auto bg-dark">
        <p class="container text-center">Udacity's FEND - Capstone Project by Giwoo G Lee</p>
    </footer>

    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

</body>

</html>