.nav {
    &__description {
        display: block;
        padding: .2rem 1rem;

        &-item-title {
            font-weight: bold;
        }
    }

    &__scrollable {
        bottom: 0;
        flex-wrap: nowrap;
        margin: 0 !important;
        overflow-y: auto;
        position: absolute;
        padding: 0;
        top: 60px;
    }

    &-item {
        background-color: #343a400f;
        margin-bottom: .1rem;
        padding: 1rem 0;        
        transition: all 300ms ease-in-out;
    }

    &__btn-delete {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 1rem 1rem 0;

        &:hover {
            color: red;
        }
    }
}