.nav {
    &__description {
        display: block;
        padding: .5rem 1rem;
    }

    &-item {
        background-color: #343a400f;
        cursor: pointer;
        padding: 1rem 0;
        transition: all 300ms ease-in-out;        

        &:hover {
            background-color: #343a4045;
        }
    }
}