.weather {
    display: flex;
    flex-direction: row;
    padding: 5px;

    &__title {
        font-weight: bold;
    }

    &__input {
        padding: 5px 20px;
        width: 100%;
        line-height: 16px;
        margin: 10px 0;
    }

    &__body {
        display: flex;
        flex-direction: row;
        max-height: 150px;
    }

    &__item {        
        margin-bottom: 5px;
    }

    &__box-line {
        display: flex;
        flex: 1;
        flex-direction: row;
    }

    &__box {
        display: flex;
        flex: 1;
        flex-direction: column;

        input {
            border: 1px solid #00000030;
            margin-right: 10px;
            width: 250px;
        }

        button {
            margin: 10px 0;
        }

        &--fx1 {
            flex: 1;
        }
        
        &--fx3 {
            flex: 3;
        }
    }

    &__temp {
        font-size: 60px;
        font-weight: bold;        
    }
}